{% extends base_template %}

{% block page_title %}Tasks list{% endblock %}

{% block body %}
    {% for type, messages in app.session.flashbag.all %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <h1>Tasks list</h1>

    {% if processes %}
        <div class="alert alert-success">
            Running processes: {% for process in processes %}{% if not loop.first %}, {% endif %}<strong>{{ process }}</strong>{% endfor %}
        </div>
    {% else %}
        <div class="alert alert-warning">
            No running tasks found. <i class="glyphicon glyphicon-question-sign" title="Full path to `app/console` must be used and `queues` must be present and --env should be specified to display commands here."></i>
        </div>
    {% endif %}

    Types filter:
    {% for key, type in types %}
        {% if type_filter == key %}
            <a class="btn btn-primary" href="{{ path('mobillogix_queue_task_index') }}">
                {{ type.name }} <span class="badge"><i class="glyphicon glyphicon-remove-sign"></i></span>
            </a>
        {% else %}
            <a class="btn btn-default" href="{{ path('mobillogix_queue_task_index', {type: key}) }}">{{ type.name }}</a>
        {% endif %}
    {% endfor %}

    <hr>

    <p>
        {{ pagerfanta(tasks) }}
    </p>
    <p>
        Server time: <strong>{{ "now"|date }}</strong>
    </p>
    <table class="table table-striped table-hover" style="table-layout: fixed; max-width: 1140px;">
        <thead>
        <tr>
            <th width="4%">ID</th>
            <th width="20%">Type</th>
            <th width="10%">Status</th>
            <th width="7%">Restart</th>
            <th width="5%">Wait</th>
            <th width="7%">Cancel</th>
            <th width="16%">Data</th>
            <th width="31%">Log</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr class="task-{{ task.state }}">
                <td>
                    <a href="{{ path('mobillogix_queue_task_get', {id: task.id}) }}">{{ task.id }}</a>
                </td>
                <td>
                    <strong>{{ task.type }}</strong><br>
                    <small>Created at: {{ task.createdAt|date }}</small>
                    {% if task.scheduledAt %}
                        <div><small>Scheduled at: {{ task.scheduledAt|date }}</small></div>
                    {% endif %}
                </td>
                <td>{{ task.state }}</td>
                <td>
                    {% if task.cancelled or task.running %}
                        ----
                    {% else %}
                        <a class="btn btn-success" href="{{ path('mobillogix_queue_task_retry', {id: task.id}) }}">Restart</a>
                    {% endif %}
                </td>
                <td>
                    {% if task.cancelled or task.running or task.waiting %}
                        ----
                    {% else %}
                        <a class="btn btn-success" href="{{ path('mobillogix_queue_task_suspend', {id: task.id}) }}">Wait</a>
                    {% endif %}
                </td>
                <td>
                    {% if task.cancelled or task.running %}
                        ----
                    {% else %}
                        <a class="btn btn-success" href="{{ path('mobillogix_queue_task_cancel', {id: task.id}) }}">Cancel</a>
                    {% endif %}
                </td>
                <td>
                    <pre>{{ task.data|yaml_encode(2) }}</pre>
                </td>
                <td>
                    <pre>{{ task.log | raw }}</pre>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">No tasks</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ pagerfanta(tasks) }}
{% endblock body %}

{% block page_styles %}
<style>
    .pagerfanta {

    }

    .pagerfanta a,
    .pagerfanta span {
        display: inline-block;
        border: 1px solid blue;
        color: blue;
        margin-right: .2em;
        padding: .25em .35em;
    }

    .pagerfanta a {
        text-decoration: none;
    }

    .pagerfanta a:hover {
        background: #ccf;
    }

    .pagerfanta .dots {
        border-width: 0;
    }

    .pagerfanta .current {
        background: #ccf;
        font-weight: bold;
    }

    .pagerfanta .disabled {
        border-color: #ccf;
        color: #ccf;
    }

    .pagerfanta a,
    .pagerfanta span {
        border-color: blue;
        color: blue;
    }

    .pagerfanta a:hover {
        background: #ccf;
    }

    .pagerfanta .current {
        background: #ccf;
    }

    .pagerfanta .disabled {
        border-color: #ccf;
        color: #cfcfcf;
    }
</style>
{% endblock page_styles %}

{% block page_javascripts %}
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
{% endblock page_javascripts %}
